# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
df = pd.read_csv("Orders.csv")

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [4]:
df.describe().round(2)

,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,CustomerID,amount_spent
count,397924.00,397924.00,397924.00,397924.00,397924.00,397924.00,397924.00,397924.00,397924.00
mean,560617.13,2010.93,7.61,3.61,12.73,13.02,3.12,15294.32,22.39
std,13106.17,0.25,3.42,1.93,2.27,180.42,22.10,1713.17,309.06
min,536365.00,2010.00,1.00,1.00,6.00,1.00,0.00,12346.00,0.00
25%,549234.00,2011.00,5.00,2.00,11.00,2.00,1.25,13969.00,4.68
50%,561893.00,2011.00,8.00,3.00,13.00,6.00,1.95,15159.00,11.80
75%,572090.00,2011.00,11.00,5.00,14.00,12.00,3.75,16795.00,19.80
max,581587.00,2011.00,12.00,7.00,20.00,80995.00,8142.75,18287.00,168469.60

In [5]:
dfcustomer_amount = df.groupby("CustomerID")["amount_spent"].sum()

In [6]:
dfcustomer_amount.describe().round(2)

count      4339.00
mean       2053.79
std        8988.25
min           0.00
25%         307.24
50%         674.45
75%        1661.64
max      280206.02
Name: amount_spent, dtype: float64

In [22]:
#Calculo el valor sobre el corte de los VIP clients

customer_amount_VIP = np.percentile(dfcustomer_amount, q=95)
customer_amount_VIP

5840.181999999982

In [23]:
#Mapeo los clientes.

bins = [0, 674.45, customer_amount_VIP, dfcustomer_amount.max()]
labels = ["Normal", "Prefered", "VIP"]
df["ClientMap"] = pd.cut(dfcustomer_amount, bins=bins, labels=labels)
df["ClientMap"].value_counts()

ClientMap
Normal      2169
Prefered    1952
VIP          217
Name: count, dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [24]:
df_vip_clients = df[df["ClientMap"]=="VIP"]

In [25]:
df_vip_clients

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,ClientMap
12346,537843,22776,2010,12,3,15,sweetheart cakestand 3 tier,2,2010-12-08 15:16:00,9.95,15713,United Kingdom,19.90,VIP
12357,537844,22471,2010,12,3,15,tv dinner tray air hostess,1,2010-12-08 15:17:00,4.95,17999,United Kingdom,4.95,VIP
12359,537844,21287,2010,12,3,15,scented velvet lounge candle,12,2010-12-08 15:17:00,1.25,17999,United Kingdom,15.00,VIP
12409,537850,22355,2010,12,3,15,charlotte bag suki design,10,2010-12-08 15:38:00,0.85,16722,United Kingdom,8.50,VIP
12415,537850,62096A,2010,12,3,15,pink/yellow flowers handbag,6,2010-12-08 15:38:00,1.25,16722,United Kingdom,7.50,VIP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18109,538639,20828,2010,12,1,14,glitter butterfly clips,16,2010-12-13 14:24:00,2.55,17179,United Kingdom,40.80,VIP
18139,538641,21479,2010,12,1,14,white skull hot water bottle,8,2010-12-13 14:36:00,3.75,15640,United Kingdom,30.00,VIP
18172,538644,21658,2010,12,1,14,glass beurre dish,1,2010-12-13 14:39:00,3.95,12476,Germany,3.95,VIP
18223,538651,22262,2010,12,1,15,felt egg cosy chicken,1,2010-12-13 15:07:00,0.85,15311,United Kingdom,0.85,VIP
18229,538651,79321,2010,12,1,15,chilli lights,24,2010-12-13 15:07:00,4.25,15311,United Kingdom,102.00,VIP

In [26]:
vip_customer_country = df_vip_clients["Country"].value_counts()
vip_customer_country

Country
United Kingdom    191
Norway              6
Germany             6
France              6
EIRE                3
Portugal            2
Spain               2
Japan               1
Name: count, dtype: int64

In [27]:
vip_customer_country.idxmax()

'United Kingdom'

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [28]:
df_pre_clients = df[(df["ClientMap"] == "Prefered")]
df_pre_clients

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,ClientMap
12347,537844,22112,2010,12,3,15,chocolate hot water bottle,1,2010-12-08 15:17:00,4.95,17999,United Kingdom,4.95,Prefered
12348,537844,21587,2010,12,3,15,cosy hour giant tube matches,1,2010-12-08 15:17:00,2.55,17999,United Kingdom,2.55,Prefered
12349,537844,22502,2010,12,3,15,picnic basket wicker small,1,2010-12-08 15:17:00,5.95,17999,United Kingdom,5.95,Prefered
12352,537844,21110,2010,12,3,15,large cake towel pink spots,1,2010-12-08 15:17:00,6.75,17999,United Kingdom,6.75,Prefered
12354,537844,62018,2010,12,3,15,sombrero,1,2010-12-08 15:17:00,1.95,17999,United Kingdom,1.95,Prefered
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18263,538652,84997A,2010,12,1,15,green 3 piece polkadot cutlery set,2,2010-12-13 15:12:00,3.75,17890,United Kingdom,7.50,Prefered
18265,538652,20674,2010,12,1,15,green polkadot bowl,6,2010-12-13 15:12:00,1.25,17890,United Kingdom,7.50,Prefered
18272,538652,22482,2010,12,1,15,blue tea towel classic design,4,2010-12-13 15:12:00,1.25,17890,United Kingdom,5.00,Prefered
18283,538652,21145,2010,12,1,15,antique glass place setting,24,2010-12-13 15:12:00,1.25,17890,United Kingdom,30.00,Prefered
18287,538652,21398,2010,12,1,15,red polkadot coffee mug,6,2010-12-13 15:12:00,2.10,17890,United Kingdom,12.60,Prefered

In [29]:
df_vip_pre_clients = pd.concat([df_vip_clients, df_pre_clients], axis=0)

In [30]:
df_vip_pre_clients = df_vip_pre_clients["Country"].value_counts()

In [31]:
df_vip_pre_clients

Country
United Kingdom     1948
Norway               43
Germany              40
France               34
EIRE                 30
Spain                24
Japan                19
Portugal             14
Denmark              11
Channel Islands       6
Name: count, dtype: int64

In [32]:
df_vip_pre_clients.idxmax()

'United Kingdom'