# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [9]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [11]:
df = pd.read_csv("Orders.csv")

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [13]:
df.describe().round(2)

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,CustomerID,amount_spent
count,397924.00,397924.00,397924.00,397924.00,397924.00,397924.00,397924.00,397924.00,397924.00,397924.00
mean,278465.22,560617.13,2010.93,7.61,3.61,12.73,13.02,3.12,15294.32,22.39
std,152771.37,13106.17,0.25,3.42,1.93,2.27,180.42,22.10,1713.17,309.06
min,0.00,536365.00,2010.00,1.00,1.00,6.00,1.00,0.00,12346.00,0.00
25%,148333.75,549234.00,2011.00,5.00,2.00,11.00,2.00,1.25,13969.00,4.68
50%,284907.50,561893.00,2011.00,8.00,3.00,13.00,6.00,1.95,15159.00,11.80
75%,410079.25,572090.00,2011.00,11.00,5.00,14.00,12.00,3.75,16795.00,19.80
max,541908.00,581587.00,2011.00,12.00,7.00,20.00,80995.00,8142.75,18287.00,168469.60

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [ ]:
df2 = df["amount_spent"].groupby("")

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here