# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
df = pd.read_csv("Pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [3]:
print(df.head(10))

   #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1                  Bulbasaur  Grass  Poison    318  45      49       49
1  2                    Ivysaur  Grass  Poison    405  60      62       63
2  3                   Venusaur  Grass  Poison    525  80      82       83
3  3      VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4                 Charmander   Fire     NaN    309  39      52       43
5  5                 Charmeleon   Fire     NaN    405  58      64       58
6  6                  Charizard   Fire  Flying    534  78      84       78
7  6  CharizardMega Charizard X   Fire  Dragon    634  78     130      111
8  6  CharizardMega Charizard Y   Fire  Flying    634  78     104       78
9  7                   Squirtle  Water     NaN    314  44      48       65

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False
5       80       65     80           1      False
6      109       85    100           1      False
7      130       85    100           1      False
8      159      115    100           1      False
9       50       64     43           1      False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
type_1 = df["Type 1"].unique()
type_2 = df["Type 2"].unique()
distinct_values = set(type_1)|set(type_2) #Forma de crear un df con todos los valores distintos del type 1 y el type2
print(distinct_values)

{'Fighting', 'Dragon', 'Psychic', 'Grass', 'Ice', 'Water', 'Bug', nan, 'Ground', 'Electric', 'Ghost', 'Dark', 'Normal', 'Steel', 'Fire', 'Fairy', 'Flying', 'Poison', 'Rock'}

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [1]:
df['Name'] = df['Name'].str.replace(r'\b\w*Mega\b', 'Mega', regex=True) #Reemplaza todas las veces que aparezca la palabra Mega colada a otras por la palabra Mega

NameError: name 'df' is not defined

In [6]:
df.head(12)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [7]:
df["A/D Ratio"]= df["Attack"]/df["Defense"]
df["A/D Ratio"]

0      1.000000
1      0.984127
2      0.987952
3      0.813008
4      1.209302
         ...
795    0.666667
796    1.454545
797    1.833333
798    2.666667
799    0.916667
Name: A/D Ratio, Length: 800, dtype: float64

#### Identify the pokemon with the highest `A/D Ratio`.

In [8]:
max_ratio_index = df["A/D Ratio"].idxmax() #Nos dá el índice del valor que coincida con el máximo de la columna A/D Ratio

print(df.loc[max_ratio_index, "Name"])

DeoxysAttack Forme

#### Identify the pokemon with the lowest A/D Ratio.

In [9]:
min_ratio_index = df["A/D Ratio"].idxmin() #Nos dá el índice del valor que coincida con el mínimo de la columna A/D Ratio

print(df.loc[min_ratio_index, "Name"])

Shuckle

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [11]:
def combo_type_generate(row):
    if pd.notna(row['Type 2']):  
        return row['Type 1'] + '-' + row['Type 2']
    else:
        return row['Type 1']
    
df['Combo Type'] = df.apply(combo_type_generate, axis=1)
df['Combo Type']

0       Grass-Poison
1       Grass-Poison
2       Grass-Poison
3       Grass-Poison
4               Fire
           ...
795       Rock-Fairy
796       Rock-Fairy
797    Psychic-Ghost
798     Psychic-Dark
799       Fire-Water
Name: Combo Type, Length: 800, dtype: object

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [12]:
print(df[["Name", "A/D Ratio"]].head(5))

            Name  A/D Ratio
0      Bulbasaur   1.000000
1        Ivysaur   0.984127
2       Venusaur   0.987952
3  Mega Venusaur   0.813008
4     Charmander   1.209302

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [19]:
top_5_pokemon = df[["Name", "A/D Ratio", "Combo Type"]].head(5)
unique_combo_type_values = set(top_5_pokemon["Combo Type"].tolist())

In [21]:
unique_combo_type_values

{'Fire', 'Grass-Poison'}

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [36]:
aggregations = {"HP": "mean","Attack": "mean","Defense": "mean","Sp. Atk": "mean","Sp. Def": "mean","Generation": "mean","A/D Ratio": "mean"
}
df2 = df.groupby("Combo Type").agg(aggregations)

In [37]:
df2

,HP,Attack,Defense,Sp. Atk,Sp. Def,Generation,A/D Ratio
Combo Type,,,,,,,
Bug,53.058824,50.352941,55.411765,39.294118,43.647059,3.470588,0.940179
Bug-Electric,60.000000,62.000000,55.000000,77.000000,55.000000,5.000000,1.111667
Bug-Fighting,80.000000,155.000000,95.000000,40.000000,100.000000,2.000000,1.637681
Bug-Fire,70.000000,72.500000,60.000000,92.500000,80.000000,5.000000,1.234266
Bug-Flying,63.000000,70.142857,61.571429,72.857143,69.071429,2.857143,1.146274
...,...,...,...,...,...,...,...
Water-Ice,90.000000,83.333333,113.333333,80.000000,78.333333,1.000000,0.821759
Water-Poison,61.666667,68.333333,58.333333,61.666667,91.666667,1.333333,1.162149
Water-Psychic,87.000000,73.000000,104.000000,94.000000,79.000000,1.200000,0.783668
Water-Rock,70.750000,82.750000,112.750000,61.500000,65.000000,3.750000,0.727170
Water-Steel,84.000000,86.000000,88.000000,111.000000,101.000000,4.000000,0.977273